* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #323730;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field label {
  display: flex;
  margin-top: 39px;
}

#login #password-field {
  margin-bottom: 27px;
}

h1 {
  text-align: center;
  color: #3f3d56;
  font-size: 37px;
  margin-bottom: 31px;
  font-weight: 700;
}
p {
  text-align: center;
}
.log {
  display: flex;
}

.log input {
  background: #ffffff;
  border: 1px solid #abb3a8;
  margin-right: 8px;
  height: 18px;
  width: 18px;
}

button {
  font-size: 16px;
  background-color: #3f3d56;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  height: 47px;
  width: 514px;
  margin-top: 31px;
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  color: #1db9e0;
}

#login #email-field,
#login #password-field {
  margin-top: 4px;
  width: 515px;
  height: 47px;
  padding-left: 17px;
  border: 1px solid #abb3a8;
}
