* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #323730;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register {
  width: 396px;
}

h1 {
  text-align: center;
  color: #3f3d56;
  font-size: 37px;
  font-weight: 700;
}

.field label {
  display: flex;
  margin-top: 22px;
}

.birth-counter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.genre-align {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 16px;
}

.genre {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.genre input {
  margin-right: 6px;
  height: 18px;
  width: 18px;
}

::placeholder {
  color: #abb3a8;
}

span {
  color: #ff0000;
}

a {
  color: #1db9e0;
}

.terms {
  display: flex;
}

.terms input {
  background: #ffffff;
  border: 1px solid #abb3a8;
  margin-right: 10px;
  height: 18px;
  width: 18px;
}

.entrar {
  color: #1db9e0;
  text-decoration: none;
}

#register #confirm-field {
  margin-bottom: 28px;
}

#register #date-field {
  height: 47px;
  width: 170px;
  border: 1px solid #abb3a8;
  padding-left: 14px;
  color: #abb3a8;
  margin-top: 9px;
}

.country {
  height: 47px;
  width: 208px;
  border: 1px solid #abb3a8;
  padding-left: 14px;
  color: #abb3a8;
  margin-top: 9px;
}

#register #name-field,
#register #email-field,
#register #password-field,
#register #confirm-field {
  margin-top: 4px;
  width: 396px;
  height: 47px;
  padding-left: 14px;
  border: 1px solid #abb3a8;
}

button {
  background-color: #3f3d56;
  color: #ffffff;
  font-size: 16px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  height: 47px;
  width: 396px;
  margin-top: 28px;
  margin-bottom: 28px;
  cursor: pointer;
}

.get-in {
  text-align: center;
}
